


.App{
    position: relative;
    height: 100vh;
    width:100vh;
    min-height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    
    max-width: 500px;
    background-color: whitesmoke;
}

.bgtheme-green {
    background-color: rgba(94, 247, 94, 0.822);
} 


.flex-center{
 @apply flex items-center justify-center
}

#Nav{
    @apply absolute bottom-0  w-full flex-center pt-1 pb-1 border-t-2;
    justify-content: space-evenly;
}
#Header{
    @apply  absolute top-0 flex-center  w-full pt-2 pb-2 bgtheme-green
}

.Body{
    @apply relative h-full min-h-[80vh] min-w-full mt-[2rem] p-2;
}